<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microverse-Assg</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="navigation">
        <nav>
            <span class="menu-logo">
                <span>
                    <img src="/image/menu.png" alt="menu" id="menu" >
                </span>
                <span>
                    <img src="/image/YouTube-Logo.jpg" id="youtube-logo" alt="logo" srcset="">
                </span>
            </span>
            <span class="search-mic">
                <span class="search-bar">
                    <input type="text" name="search" id="search" placeholder="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </span>
                <span>
                    <img src="/image/mic.png" alt="mic" id="mic">
                </span>
            </span>
            <span class="user-action">
                <span>
                    <img src="/image/create_icon.png" alt="create" id="create_icon">
                </span>
                <span>
                    <img src="/image/notification.png" alt="notification" id="notification">
                </span>
                <span>
                    <img src="/image/user_icon.jpg" alt="user-icon" id="user-icon">
                </span>
            </span>
            
        </nav>
    </div>
    <div class="content">
        <div class="video">
            <div class="iframe-container">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" frameborder="0" allowfullscreen>
                </iframe> 
            </div>
            <div class="video-description">
                <div id="title">Bohemian - The Muppets</div>
                <div id="unlisted">Unlisted</div>
            </div>
            <div class="details">
                <div>
                    <img src="/image/play.png" alt="" id="play">
                    <span class="subscriber">
                        <div>YouTube Viewers</div>
                        <div>2.3M subscribers</div>
                    </span>
                    <button id="sub-tag">Subscribe</button>
                </div>
                <div>
                    <div class="like">
                        <button>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </button>
                        <span id="count">1.7K</span>
                        <span id="margin"></span>
                        <button>
                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                        </button>
                    
                    </div>
                    <div class="share">
                        <button>
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </button>
                        <span>Share</span>
                    </div>
                    <div class="more">
                        <button>
                            <span>...</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="video-cta">
                <div>345K views 6 years ago</div>
                <div>To learn more please visit the YouTube Help Centre: <a href="https://www.youtube.com/help"> https://www.youtube.com/help</a> </div>
                <div>
                    <button>
                        Show less
                    </button>
                </div>
            </div>
            <div class="comment">
                <div>
                    <div>192 Comments</div>
                    <span class="sort">
                        <button>
                            <img src="/image/sort.png" alt="sort" id="sort-icon">
                       </button>
                        <span id="sort-by">Sort by</span>
                    </span>
                </div>
                <div>
                    <img src="/image/user_icon.jpg" alt="user-icon2">
                    <div class="add-comment">
                        <input type="text" placeholder="Add a comment...">
                        <div class="action">
                            <span>
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </span>
                            <span>
                                <button>Cancel</button>
                                <button>Comment</button>
                            </span>
                        </div>
                    </div>
                </div>
                
                
                <div class="commets-container">
                    <div class="users-comment">
                        <img src="/image/user1.jpeg" alt="user-comment">
                        <div id="comment">
                            <div>
                               <span class="username">Pedro Vasquez</span> 
                               <span class="time">2 years ago</span>
                            </div>
                            <div class="commentbyuser">
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit. Vestibulum arcu sem, ultrices non mi non, imperdiet fermentum odio. Nullam vestibulum cursus tellus, vestibulum rutrum mi interdum at. Fusce lobortis tincidunt justo ac tincidunt. Nunc pharetra nulla tincidunt, 
                                aliquet tortor eget, rhoncus tellus.
                            </div>
                            <div>
                                <button id="read-more">Read more</button>
                            </div>
                            <div class="comment-likes">
                                <button>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </button>
                                <span id="comment-count">3</span>
                                <button>
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </button>
                                <span class="reply-comment">Reply</span>
                            </div>
                            <div class="replies">
                                <button>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <span>6 replies</span>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="commets-container">
                    <div class="users-comment">
                        <img src="/image/user2.jpeg" alt="user-comment">
                        <div id="comment">
                            <div>
                               <span class="username">Valentino Roma</span> 
                               <span class="time">2 years ago</span>
                            </div>
                            <div class="commentbyuser">
                                Mauris ut quam nunc. Curabitur facilisis 
                                viverra molestie. Nam at dictum felis, ut 
                                mattis mi. Donec commodo ligula varius metus feugiat volutpat. Vivamus quis orci non ex condimentum faucibus ac vel augue. Sed sagittis massa accumsan, ullamcorper dui vitae, laoreet justo.
                            </div>
                            <div>
                                <button id="read-more">Read more</button>
                            </div>
                            <div class="comment-likes">
                                <button>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </button>
                                <span id="comment-count">3</span>
                                <button>
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </button>
                                <span class="reply-comment">Reply</span>
                            </div>
                            <div class="replies">
                                <button>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <span>6 replies</span>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="commets-container">
                    <div class="users-comment">
                        <img src="/image/user3.jpeg" alt="user-comment">
                        <div id="comment">
                            <div>
                               <span class="username">Tracy Travolta</span> 
                               <span class="time">2 years ago</span>
                            </div>
                            <div class="commentbyuser">Lopres sum fodler donut</div>
                            <div>
                                <button id="read-more">Read more</button>
                            </div>
                            <div class="comment-likes">
                                <button>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </button>
                                <span id="comment-count">3</span>
                                <button>
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </button>
                                <span class="reply-comment">Reply</span>
                            </div>
                            <div class="replies">
                                <button>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <span>6 replies</span>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="commets-container">
                    <div class="users-comment">
                        <img src="/image/user4.jpeg" alt="user-comment">
                        <div id="comment">
                            <div>
                               <span class="username">Angelina Julie</span> 
                               <span class="time">2 years ago</span>
                            </div>
                            <div class="commentbyuser">Lopres sum fodler donut</div>
                            <div>
                                <button id="read-more">Read more</button>
                            </div>
                            <div class="comment-likes">
                                <button>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </button>
                                <span id="comment-count">3</span>
                                <button>
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </button>
                                <span class="reply-comment">Reply</span>
                            </div>
                            <div class="replies">
                                <button>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <span>6 replies</span>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="users-comment">
                        <img src="/image/user1.jpeg" alt="user-comment">
                        <div id="comment">
                            <div>
                               <span class="username">Jesus Navas</span> 
                               <span class="time">2 years ago</span>
                            </div>
                            <div class="commentbyuser">
                                Sed fermentum, odio et convallis porta, 
                                nibh tortor vehicula magna, id egestas orci 
                                nibh a ipsum. Vestibulum sollicitudin dolor sem, aliquam lobortis neque lobortis ac. Cras non nisi viverra, tristique felis ac, efficitur odio. Nulla feugiat at dui et laoreet. Curabitur ultricies lacinia sem non suscipit.
                            </div>
                            <div>
                                <button id="read-more">Read more</button>
                            </div>
                            <div class="comment-likes">
                                <button>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </button>
                                <span id="comment-count">3</span>
                                <button>
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </button>
                                <span class="reply-comment">Reply</span>
                            </div>
                            <div class="replies">
                                <button>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <span>6 replies</span>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="side-bar">
            <div class="side-bar-container">
                <div class="categories">
                    <div>All</div>
                    <div>Recently Uploaded</div>
                    <div>Watched</div>
                    <div>Listenable</div>
                    <div>></div>
                </div>
                <div class="sub-video">
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images2.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">Akeelah</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images3'.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">Spelling bee</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images4.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">My Village</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images2.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">The Travellers</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images3'.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">Commando</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images2.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">Moving Train</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images4.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">In Da Club</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images2.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">Fast And Furious</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images2.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">Voyager</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images3'.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">Mountaineers</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images4.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">The Sailor</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images2.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">Brave And Strong</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                    <div class="video-thumbnail">
                        <span>
                            <img src="/image/images3'.jpeg" alt="video-thumbnail" srcset="">
                        </span>
                        <div>
                            <div class="title">The Vessels</div>
                            <div class="user">Comedy Root</div>
                            <div class="views">250 views - 2 months ago</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>